@{
    ViewData["Title"] = "Testando qualidade da conexão....";
}
<span class="d-block qualidade-conexao">[Verificando...]</span>

@section Scripts
{
    <script src="~/js/teste/teste-qualidade-conexao.js" asp-append-version="true"></script>
}