@model ClienteModel
@{
    ViewData["Title"] = "Video-chamada";
}
<div class="row">
    <div class="col-12 text-center">
        <h1>Atendimento de Cliente - Videochamadas</h1>
        <hr/>
    </div>
</div>    
@if (Model == null)
{
    <div class="row pt-2">
        <div class="col-12 text-center">
            @Html.ActionLink("Novo Registro", "Registrar", "Cliente", null, new { @class="btn btn-success"})
        </div>
    </div>    
} 
else
{
    @await Html.PartialAsync("_DadosClientePartial", Model)
    <div class="row pt-2">
        <div class="col-12 text-center">
            <a asp-action="NovoAtendimento" asp-controller="Atendimento" class="btn btn-success">Novo Atendimento</a>
        </div>
    </div>
    @await Html.PartialAsync("_DadosAtendimentosPartial", Model.Atendimentos)
}