@model ClienteModel
@{
    ViewData["Title"] = "Atendimento de Cliente";
}
<div class="row">
    <div class="col-12 text-center">
        <h1>Atendimento de Cliente por Videochamadas</h1>
        <hr/>
    </div>
</div>    
<div class="row">
    <div class="col-xl-3 d-none d-xl-block">
        <img src="~/imgs/videoChamada.png" class="img-fluid" alt="Imagem de Cliente"/>
    </div>
    <div class="col-12 col-xl-9">
        <div class="row pt-2">
            <div class="col-12">
                <p>Desenvolvemos uma solução moderna e eficiente de videochamada destinada ao atendimento online, oferecendo um canal direto e seguro entre clientes e profissionais de saúde.</p>
            </div>
            <div class="col-6 d-none d-xl-block" style="font-size: 13px;">
                <h4>Clientes</h4>
                <ol>
                    <li><strong>Registro: </strong>Inicialmente, o cliente realiza um registro simplificado e seguro na plataforma.</li>
                    <li><strong>Teste de Dispositivos: </strong>Antes de entrar na fila de atendimento, o cliente tem a oportunidade de testar seus dispositivos (câmera e microfone), garantindo que a videochamada ocorra sem interrupções ou problemas técnicos.</li>
                    <li><strong>Fila de Espera: </strong>Uma vez registrado e após a verificação dos dispositivos, o cliente entra em uma fila de espera digital. A plataforma informa ao paciente sua posição na fila.</li>
                    <li><strong>Atendimento: </strong>Quando chega a vez do cliente, ele é conectado imediatamente a um profissional de saúde para um atendimento via videochamada.</li>
                    <li><strong>Avaliação: </strong>Após o término do atendimento, o cliente tem a opção de avaliar seu atendimento, fornecendo feedback valioso para os profissionais e para a melhoria contínua da plataforma.</li>
                </ol>
            </div>
            <div class="col-6 d-none d-xl-block" style="font-size: 13px;">
                <h4>Profissional de Saúde</h4>
                <ol>
                    <li><strong>Registro: </strong>Realizar os atendimentos necessário registro simplificado e seguro da equipe de saúde na plataforma.</li>
                    <li><strong>Acesso: </strong>Possibilida o acesso a área da equipe de saúde para realizar os atendimentos dos clientes que estão na fila e gestão dos profissionais de saúde.</li>
                    <li><strong>Teste de Dispositivos: </strong>Antes de realizar os atendimentos, o profissional pode testar seus dispositivos (câmera e microfone), garantindo que a videochamada ocorra sem interrupções ou problemas técnicos.</li>
                    <li><strong>Online/Offline: </strong>Profissional de saúde pode ficar <strong>online</strong> pronto para receber clientes, ou <strong>offline</strong> que sinaliza não disponível para atendimento.</li>
                    <li><strong>Atendimento: </strong>Na área do profissional de saúde ele é acionado para atender um cliente que está na fila de atendimento por videochamada.</li>
                </ol>
            </div>
        </div>
    @if (Model == null)
    {
        <div class="row pt-2">
            <div class="col-12 d-grid gap-2 d-md-block text-center">
                <a asp-action="Registrar" asp-controller="Cliente" class="btn btn-success" title="Registro de um novo cliente para utilização da plataforma.">Novo Cliente</a>
                <a asp-action="Consultar" asp-controller="Cliente" class="btn btn-secondary" title="Cliente já registrado, realizar acesso.">Já sou Registrado</a>
                <a asp-action="Index" asp-controller="EquipeSaude" class="btn btn-info" title="Acesso ao perfil de Profissional de Saúde.">Sou Profissional de Saúde</a>
                <a asp-action="Index" asp-controller="PainelGestao" class="btn btn-light" title="Acesso ao painel de gestão da plataforma de videochamada.">Painel Gerencial</a>
            </div>
        </div>
    } 
    else
    {
        @await Html.PartialAsync("_DadosClientePartial", Model)
        @await Html.PartialAsync("_MensagensPartial")
        <div class="row pt-2">
            <div class="col-12 d-grid gap-2 d-md-block text-center">
                <a asp-action="NovoAtendimento" asp-controller="Atendimento" class="btn btn-success">Novo Atendimento</a>
            </div>
        </div>
        @await Html.PartialAsync("_DadosAtendimentosPartial", Model.Atendimentos)
    }
    </div>
</div>