@model ClienteModel
@if (Model == null)
{
    <div class="alert alert-danger">Não identificamos informações do Cliente.</div>
}
else
{
    <div class="card mt-2">
        <div class="area-cliente">
            <span class="info-cliente-titulo">Cliente</span>
            <input id="idCliente" value="@Model.Id" type="hidden"/>
            <span class="d-block">@Model.Nome</span>
            <div class="info-cliente mt-2 mb-2">
                <div class="d-flex align-items-center text-muted" title="Arquivos do Atendimento">
                    <span class="material-symbols-outlined">archive</span>
                    <span class="px-1">&nbsp;Arquivos</span>
                </div>
                <div class="atendimento-separador"></div>
                <div class="lista-arquivos-atendimento">
                    @await Html.PartialAsync("_ClienteArquivosAtendimentoPartial", Model.Arquivos)
                </div>
            </div>
            <div class="vstack gap-2 mx-auto">
                <button type="button" class="btn btn-sm btn-secondary button-init-enviar-arquivo">Enviar Arquivo</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEnviarArquivoAtendimento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEnviarArquivoAtendimentoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="formArquivo" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="IdCliente" value="@Model.Id" />
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalEnviarArquivoAtendimentoLabel">Enviar arquivos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert modal-mensagem-arquivo" style="display: none;"></div>
                        <div class="area-upload-arquivo">
                            <div class="mb-3">
                                <label for="formFile" class="form-label"><strong>Selecione um arquivo e clique em "Enviar"</strong></label>
                                <input class="form-control" type="file" accept=".jpg, .jpeg, .gif, .png, .pdf" id="formFile" name="Arquivo">
                            </div>
                            <div class="text-muted">Regras: Permitido arquivos de <strong>Imagem</strong> (jpg/jpeg, gif e png) e <strong>Documento</strong> (pdf) com tamanho máximo de <strong>2MB (MegaByte)</strong> por arquivo.</div>
                        </div>
                        <div class="area-progress-upload-arquivo progress" style="height: 20px;display: none;">
                          <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary button-enviar-arquivo">Enviar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}