@model ProfissionalSaudeModel
@if (Model == null)
{
    <div class="alert alert-danger">Não identificamos informações do Profissional de Saúde.</div>    
}
else
{
    <div class="card">
        <div class="area-profissional-saude">
            <strong>Profissional de Saúde</strong>
            <span class="d-block">@Model.Nome</span>
            <div class="info-profissional-saude mt-2">
                <span class="d-block text-muted" title="Especialidade do profissional">
                    <span class="material-symbols-outlined">stethoscope</span> @Model.Especialidade
                </span>
                <span class="d-block text-muted" title="E-mail do profissional">
                    <span class="material-symbols-outlined">alternate_email</span> @Model.Email
                </span>
                <span class="d-block text-muted" title="Telefone do profissional">
                    <span class="material-symbols-outlined">phone_iphone</span> @Model.Telefone
                </span>
            </div>
        </div>
    </div>
}