@model UsuarioEmAtendimentoModel
@{
    ViewBag.Title = "Atendimento [Em andamento]";
}
<div class="row">
    <div class="col-7">
        <div class="d-none d-sm-block"><h1>Atendimento</h1></div>
        <div class="d-sm-none d-block"><h2>Atendimento</h2></div>
    </div>
    <div class="col-5 text-end pt-xl-2">
        <button type="button" class="btn btn-sm btn-danger" title="Solicitar saida do atendimento." data-bs-toggle="modal" data-bs-target="#modalSairAtendimento">Sair <span class="d-none d-xl-inline-block">do Atendimento</span></button>
        <button type="button" class="d-inline-block d-xl-none btn btn-sm btn-primary button-posicao-chat">Chat <span class="d-none d-xl-inline-block">Atendimento</span></button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="atendimento-separador"></div>
    </div>
</div>
<div class="row">
    <div class="col-xl-2 d-none d-xl-block">
        <img src="~/imgs/atendimentoCliente.png" class="img-fluid" alt="Imagem de Em Atendimento"/>
        <input type="hidden" id="idAtendimento" value="@Model.IdAtendimento"/>
        <input id="idUsuario" value="@Model.Cliente.Id" type="hidden"/>
        <div class="card mt-2">
            <div class="area-cliente">
                <span class="info-cliente-titulo">Cliente</span>
                <span class="d-block">@Model.Cliente.Nome</span>
                <div class="info-cliente mt-2 mb-2">
                    <div class="d-flex align-items-center text-muted" title="Arquivos do Atendimento">
                        <span class="material-symbols-outlined">archive</span>
                        <span class="px-1">Arquivos</span>
                    </div>
                    <div class="atendimento-separador"></div>
                    <div class="lista-arquivos-atendimento">
                        @await Html.PartialAsync("_ArquivosAtendimentoPartial", Model.ArquivosAtendimento, new ViewDataDictionary(ViewData) { {"IdUsuario", Model.Cliente.Id }})
                    </div>
                </div>
                <div class="vstack gap-2 mx-auto">
                    <button type="button" class="btn btn-sm btn-secondary button-init-enviar-arquivo">Enviar Arquivo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-10">
        <div class="row pt-2">
            <div class="col-12 col-xl-8">
                <div class="area-videochamada">
                    <div class="area-video-container">
                        <div class="area-video-remoto">
                            <div class="d-flex flex-column justify-content-center align-items-center video-remoto video-remoto-aguardando">
                                <span>Aguarde, estamos te conectando com o profissional de saúde!</span>
                                <div class="mt-3 spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <video class="video-remoto" id="video-remoto" autoplay playsinline></video>    
                        </div>
                        <div class="area-video-local">
                            <div class="d-flex flex-column justify-content-center align-items-center video-local video-local-aguardando">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <video class="video-local" id="video-local" autoplay playsinline></video>
                        </div>
                        <div class="video-controls">
                            <button type="button" class="control-button on" id="mute-button" title="Controle do mute do microfone.">
                                <span class="material-symbols-outlined">mic</span>
                            </button>
                            <button type="button" class="control-button on" id="camera-button" title="Controle da câmera.">
                                <span class="material-symbols-outlined">video_camera_front</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mensagem-usuario mt-2 text-truncate">Você está iniciando uma videochamada com um profissional de saúde.</div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="row">
                    <div class="col-12">
                        @await Html.PartialAsync("_ProfissionalAtendimentoPartial", Model.ProfissionalSaude)                        
                    </div>
                    <div class="col-12">
                        @await Html.PartialAsync("_ChatAtendimentoPartial", Model.ChatAtendimento)
                    </div>
                    <div class="col-12 d-xl-none d-block">
                        <div class="card mt-2">
                            <div class="area-cliente">
                                <span class="info-cliente-titulo">Cliente</span>
                                <span class="d-block">@Model.Cliente.Nome</span>
                                <div class="info-cliente mt-2 mb-2">
                                    <div class="d-flex align-items-center text-muted" title="Arquivos do Atendimento">
                                        <span class="material-symbols-outlined">archive</span>
                                        <span class="px-1">Arquivos</span>
                                    </div>
                                    <div class="atendimento-separador"></div>
                                    <div class="lista-arquivos-atendimento">
                                        @await Html.PartialAsync("_ArquivosAtendimentoPartial", Model.ArquivosAtendimento, new ViewDataDictionary(ViewData) { {"IdUsuario", Model.Cliente.Id }})
                                    </div>
                                </div>
                                <div class="vstack gap-2 mx-auto">
                                    <button type="button" class="btn btn-sm btn-secondary button-init-enviar-arquivo">Enviar Arquivo</button>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-12 mt-2 d-inline-block d-xl-none text-end">
                        <button type="button" class="btn btn-sm btn-primary button-posicao-video">
                            <span class="material-symbols-outlined">arrow_upward</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEnviarArquivoAtendimento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEnviarArquivoAtendimentoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="formArquivo" enctype="multipart/form-data" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEnviarArquivoAtendimentoLabel">Enviar arquivos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <div class="alert modal-mensagem-arquivo" style="display: none;"></div>
                    <div class="area-upload-arquivo">
                        <div class="mb-3">
                            <label for="formFile" class="form-label"><strong>Selecione um arquivo e clique em "Enviar"</strong></label>
                            <input class="form-control" type="file" accept=".jpg, .jpeg, .gif, .png, .pdf" id="formFile" name="Arquivo">
                        </div>
                        <div class="text-muted">Regras: Permitido arquivos de <strong>Imagem</strong> (jpg/jpeg, gif e png) e <strong>Documento</strong> (pdf) com tamanho máximo de <strong>2MB (MegaByte)</strong> por arquivo.</div>
                    </div>
                    <div class="area-progress-upload-arquivo progress" style="height: 20px;display: none;">
                      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary button-enviar-arquivo">Enviar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSairAtendimento" tabindex="-1" aria-labelledby="modalSairAtendimentoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSairAtendimentoLabel">Confirma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <h4>Deseja realmente <strong>sair</strong> do atendimento em andamento?</h4>
            </div>
            <div class="modal-footer">
                <a asp-action="SairDoAtendimento" asp-controller="Atendimento" class="btn btn-danger">Sim, quero sair</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não quero</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/comunicacao-usuarios.js" asp-append-version="true"></script>
    <script src="~/js/comunicacao-chat-atendimento.js" asp-append-version="true"></script>
    <script src="~/js/comunicacao-arquivos-atendimento.js" asp-append-version="true"></script>
}