@model ClenteEmAtendimentoModel
@{
    ViewBag.Title = "Atendimento [Em andamento]";
}
<div class="row">
    <div class="col-7">
        <div class="d-none d-sm-block"><h1>Atendimento</h1></div>
        <div class="d-sm-none d-block"><h2>Atendimento</h2></div>
    </div>
    <div class="col-5 text-end pt-xl-2">
        <button type="button" class="btn btn-sm btn-danger" title="Solicitar saida do atendimento." data-bs-toggle="modal" data-bs-target="#modalSairAtendimento">Sair <span class="d-none d-xl-inline-block">do Atendimento</span></button>
        <button type="button" class="d-inline-block d-md-none btn btn-sm btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasChat" aria-controls="offcanvasBottom">Chat <span class="d-none d-xl-inline-block">Atendimento</span></button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="atendimento-separador"></div>
    </div>
</div>
<div class="row">
    <div class="col-xl-2 d-none d-xl-block">
        <img src="~/imgs/atendimentoCliente.png" class="img-fluid" alt="Imagem de Em Atendimento"/>
    </div>
    <div class="col-12 col-xl-10">
        <div class="row pt-2">
            <div class="col-12 col-xl-8">
                <div class="area-videochamada">
                    <div class="area-video-container">
                        <div class="area-video-profissional">
                            <div class="text-center mt-5">
                                <span class="d-block">Aguarde, estamos te conectando com o profissional de saúde!</span>
                                <div class="mt-5 spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <video id="video-profissional"></video>    
                        </div>
                        <video class="area-video-cliente" id="video-cliente"></video>
                        <div class="video-controls">
                            <button type="button" class="control-button" id="mute-button">
                                <span class="material-symbols-outlined">mic</span>
                            </button>
                            <button type="button" class="control-button" id="camera-button">
                                <span class="material-symbols-outlined">videocam</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                @await Html.PartialAsync("_ProfissionalAtendimentoPartial", Model.ProfissionalSaude)
                <div class="d-none d-xl-block">
                    @await Html.PartialAsync("_ChatAtendimentoPartial", Model.ChatAtendimento)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasChat" aria-labelledby="offcanvasChatLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasChatLabel">Chat do Atendimento</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body pt-0 p-2 small">
    @await Html.PartialAsync("_ChatAtendimentoPartial", Model.ChatAtendimento)
  </div>
</div>
<div class="modal fade" id="modalSairAtendimento" tabindex="-1" aria-labelledby="modalSairAtendimentoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSairAtendimentoLabel">Confirma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <h4>Deseja realmente <strong>sair</strong> do atendimento em andamento?</h4>
            </div>
            <div class="modal-footer">
                <a asp-action="SairDoAtendimento" asp-controller="Atendimento" class="btn btn-danger">Sim, quero sair</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não quero</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/cliente-em-atendimento.js" asp-append-version="true"></script>
}