@model ClienteFilaAtendimentoModel
@{
    ViewBag.Title = "Atendimento [Dispositivos]";
}
<div class="row">
    <div class="col-12">
        <div class="d-none d-sm-block"><h1>Atendimento - Fila de Atendimento</h1></div>
        <div class="d-sm-none d-block"><h2>Fila de Atendimento</h2></div>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 d-none d-xl-block">
        <img src="~/imgs/orientacaoCliente.png" class="img-fluid" alt="Imagem de Fila Atendimento Cliente"/>
    </div>
    <div class="col-12 col-xl-8">
        @await Html.PartialAsync("_DadosClientePartial", Model.Cliente)
        <div class="row pt-2">
            <div class="col-12 d-none d-sm-block">
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>Aguarde!</strong> Logo você será atendimendo por um profiissional de saúde.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3">
                <div class="titulo-posicao-fila text-center">Sua posição na Fila</div>
                <div class="area-posicao-fila">
                    <div class="text-posicao-fila">@Model.PosicaoNaFila</div>
                    <img src="~/imgs/verificacao.gif" class="img-fluid" alt="Icon Posição Fila"/>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="titulo-posicao-fila text-center">Profissionais Online</div>
                <div class="area-qtd-profissionais">
                    <div class="text-qtd-profissionais">@Model.QtdProfissionaisOnline</div>
                    <img src="~/imgs/verificacao.gif" class="img-fluid" alt="Icon Proissionais"/>
                </div>
            </div>
            <div class="col-12 pt-2 text-center d-block d-sm-none d-grid gap-2">
                <button type="button" class="btn btn-danger" title="Solicitar saida da fila de atendimento." data-bs-toggle="modal" data-bs-target="#modalSairFila">Sair da Fila</button>
                <button type="button" class="btn btn-secondary" title="Solicitar prioridade no atendimento." data-bs-toggle="modal" data-bs-target="#modalPrioridadeFila">Solicitar Prioridade</button>
            </div>
            <div class="col-12 col-sm-6">
                <span class="titulo-posicao-fila d-none d-sm-block">Publicidade</span>
                <span class="d-sm-none d-block">&NonBreakingSpace;</span>
                @await Html.PartialAsync("_PropagandaClientePartial")
            </div>
        </div>
        <div class="row pt-2 d-none d-sm-block">
            <div class="col-6 d-grid gap-2 d-md-block text-center">
                <button type="button" class="btn btn-danger" title="Solicitar saida da fila de atendimento." data-bs-toggle="modal" data-bs-target="#modalSairFila">Sair da Fila</button>
                <button type="button" class="btn btn-secondary" title="Solicitar prioridade no atendimento." data-bs-toggle="modal" data-bs-target="#modalPrioridadeFila">Solicitar Prioridade</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSairFila" tabindex="-1" aria-labelledby="modalSairFilaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSairFilaLabel">Confirma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <h4>Deseja realmente <strong>sair da fila</strong> e desistir do atendimento?</h4>
            </div>
            <div class="modal-footer">
                <a asp-action="SairFilaAtendimento" asp-controller="Atendimento" class="btn btn-danger">Quero sair da Fila</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não quero</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPrioridadeFila" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalPrioridadeFilaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPrioridadeFilaLabel">Solicitar Prioridade na Fila</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <p>Gostaria de solicitar prioridade na fila de atendimento?</p>
                <p><strong>Preencha os dados a seguir para uma avalidação de prioridade.</strong></p>
                <form name="formSolicitarPrioridade" method="post">
                    <div class="shadow-sm p-3 mb-5 bg-body rounded">
                        <p>Você tem algum problema de saúde pré-existente?<br/>
                            <span class="text-muted">(diabetes, hipertensão, asma, etc.)</span>
                        </p>
                        <input type="hidden" name="pergunta1.idPergunta" value="1"/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta1.Resposta" value="Sim">
                            <label class="form-check-label" for="pergunta1.Resposta">Sim</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta1.Resposta" value="Nao">
                            <label class="form-check-label" for="pergunta1.Resposta">Não</label>
                        </div>
                    </div>
                    <div class="shadow-sm p-3 mb-5 bg-body rounded">
                        <p>Você está tomando algum medicamento atualmente?</p>
                        <input type="hidden" name="pergunta2.idPergunta" value="2"/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta2.Resposta" value="Sim">
                            <label class="form-check-label" for="pergunta2.Resposta">Sim</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta2.Resposta" value="Nao">
                            <label class="form-check-label" for="pergunta2.Resposta">Não</label>
                        </div>
                    </div>
                    <div class="shadow-sm p-3 mb-5 bg-body rounded">
                        <p>Você tem alergias conhecidas a medicamentos ou alimentos?</p>
                        <input type="hidden" name="pergunta3.idPergunta" value="3"/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta3.Resposta" value="Sim">
                            <label class="form-check-label" for="pergunta3.Resposta">Sim</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta3.Resposta" value="Nao">
                            <label class="form-check-label" for="pergunta3.Resposta">Não</label>
                        </div>
                    </div>
                    <div class="shadow-sm p-3 mb-5 bg-body rounded">
                        <p>Os sintomas estão piorando com o tempo?</p>
                        <input type="hidden" name="pergunta4.idPergunta" value="4"/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta4.Resposta" value="Sim">
                            <label class="form-check-label" for="pergunta4.Resposta">Sim</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta4.Resposta" value="Nao">
                            <label class="form-check-label" for="pergunta4.Resposta">Não</label>
                        </div>
                    </div>
                    <div class="shadow-sm p-3 mb-5 bg-body rounded">
                        <p>Você esteve em contato com alguém diagnosticado com uma condição médica séria nos últimos 14 dias?</p>
                        <input type="hidden" name="pergunta5.idPergunta" value="5"/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta5.Resposta" value="Sim">
                            <label class="form-check-label" for="pergunta5.Resposta">Sim</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta5.Resposta" value="Nao">
                            <label class="form-check-label" for="pergunta5.Resposta">Não</label>
                        </div>
                    </div>
                    <div class="shadow-sm p-3 mb-5 bg-body rounded">
                        <p>Você viajou recentemente para áreas com alta incidência de doenças contagiosas?</p>
                        <input type="hidden" name="pergunta6.idPergunta" value="6"/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta6.Resposta" value="Sim">
                            <label class="form-check-label" for="pergunta6.Resposta">Sim</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta6.Resposta" value="Nao">
                            <label class="form-check-label" for="pergunta6.Resposta">Não</label>
                        </div>
                    </div>
                    <div class="shadow-sm p-3 mb-5 bg-body rounded">
                        <p>Você sofreu algum tipo de trauma físico recentemente?</p>
                        <input type="hidden" name="pergunta7.idPergunta" value="7"/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta7.Resposta" value="Sim">
                            <label class="form-check-label" for="pergunta7.Resposta">Sim</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pergunta7.Resposta" value="Nao">
                            <label class="form-check-label" for="pergunta7.Resposta">Não</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Solicitar prioridade</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<audio id="audioPosicaoFila" src="~/mp3/audioPosicaoFila.mp3"></audio>
@section Scripts
{
    <script src="~/js/fila-atendimento.js" asp-append-version="true"></script>
}