@model ClienteFilaAtendimentoModel
@{
    ViewBag.Title = "Atendimento [Fila de Atendimento]";
}
<div class="row">
    <div class="col-12">
        <div class="d-none d-sm-block"><h1>Atendimento - Fila de Atendimento</h1></div>
        <div class="d-sm-none d-block"><h2>Fila de Atendimento</h2></div>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 d-none d-xl-block">
        <img src="~/imgs/orientacaoCliente.png" class="img-fluid" alt="Imagem de Fila Atendimento Cliente"/>
    </div>
    <div class="col-12 col-xl-8">
        @await Html.PartialAsync("_DadosClientePartial", Model.Cliente)
        <div class="row pt-2">
            <div class="col-12 d-none d-sm-block">
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>Aguarde!</strong> Logo você será atendimendo por um profiissional de saúde.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3">
                <div class="titulo-posicao-fila text-center">Sua posição na Fila</div>
                <div class="area-posicao-fila">
                    <div class="text-posicao-fila">@Model.PosicaoNaFila</div>
                    <img src="~/imgs/verificacao.gif" class="img-fluid" alt="Icon Posição Fila"/>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="titulo-posicao-fila text-center">Profissionais Online</div>
                <div class="area-qtd-profissionais">
                    <div class="text-qtd-profissionais">@Model.QtdProfissionaisOnline</div>
                    <img src="~/imgs/verificacao.gif" class="img-fluid" alt="Icon Proissionais"/>
                </div>
            </div>
            <div class="col-12 pt-2 text-center d-block d-sm-none d-grid gap-2">
                <button type="button" class="btn btn-danger" title="Solicitar saida da fila de atendimento." data-bs-toggle="modal" data-bs-target="#modalSairFila">Sair da Fila</button>
                <button type="button" class="btn btn-secondary" title="Solicitar prioridade no atendimento." data-bs-toggle="modal" data-bs-target="#modalPrioridadeFila">Solicitar Prioridade</button>
            </div>
            <div class="col-12 col-sm-6">
                <span class="titulo-posicao-fila d-none d-sm-block">Publicidade</span>
                <span class="d-sm-none d-block">&NonBreakingSpace;</span>
                @await Html.PartialAsync("_PropagandaClientePartial")
            </div>
        </div>
        <div class="row pt-2 d-none d-sm-block">
            <div class="col-6 d-grid gap-2 d-md-block text-center">
                <button type="button" class="btn btn-danger" title="Solicitar saida da fila de atendimento." data-bs-toggle="modal" data-bs-target="#modalSairFila">Sair da Fila</button>
                <button type="button" class="btn btn-secondary" title="Solicitar prioridade no atendimento." data-bs-toggle="modal" data-bs-target="#modalPrioridadeFila">Solicitar Prioridade</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSairFila" tabindex="-1" aria-labelledby="modalSairFilaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSairFilaLabel">Confirma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <h4>Deseja realmente <strong>sair da fila</strong> e desistir do atendimento?</h4>
            </div>
            <div class="modal-footer">
                <a asp-action="SairFilaAtendimento" asp-controller="Atendimento" class="btn btn-danger">Quero sair da Fila</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não quero</button>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_ModalSolicitarPrioridadeFilaPartial")
@await Html.PartialAsync("_ModalRedirectPartial")
<audio id="audioPosicaoFila" src="~/mp3/audioPosicaoFila.mp3"></audio>
@section Scripts
{
    <script src="~/js/fila-atendimento.js" asp-append-version="true"></script>
}