@model ClienteFilaAtendimentoModel
@{
    ViewBag.Title = "Atendimento [Dispositivos]";
}
<div class="row">
    <div class="col-12">
        <h1>Atendimento - Fila de Atendimento</h1>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <img src="~/imgs/filaAtendimento.jpg" class="img-fluid shadow-sm rounded-1" alt="Imagem da Fila de Atendimento"/>
    </div>
    <div class="col-8">
        @await Html.PartialAsync("_DadosClientePartial", Model.Cliente)
        <div class="row pt-2">
            <div class="col-3">
                <span class="titulo-posicao-fila">Sua posição na Fila:</span>
                <div class="area-posicao-fila">
                    <div class="text-posicao-fila">@Model.PosicaoNaFila</div>
                    <img src="~/imgs/verificacao.gif" class="img-fluid" alt="Icon Posição Fila"/>
                </div>
            </div>
            <div class="col-3">
                <span class="titulo-posicao-fila">Profissionais Online:</span>
                <div class="area-qtd-profissionais">
                    <div class="text-qtd-profissionais">@Model.QtdProfissionaisOnline</div>
                    <img src="~/imgs/verificacao.gif" class="img-fluid" alt="Icon Proissionais"/>
                </div>
            </div>
            <div class="col-6">
                <span class="titulo-posicao-fila">Notícias:</span>
                @await Html.PartialAsync("_PropagandaClientePartial")
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-3 text-center">
                <a asp-action="SairFilaAtendimento" asp-controller="Atendimento" class="btn btn-danger">Sair da Fila</a>
            </div>
            <div class="col-9">
                <div class="alert alert-info">Aguarde um pouco, logo você será atendido!</div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        var carouselPublicidade = document.querySelector('#carouselPublicidade');
        var carousel = new bootstrap.Carousel(carouselPublicidade, {
          interval: 10000,
          wrap: false
        });
    </script>
}
