@model ClienteAtendimentoModel
@{
    ViewBag.Title = "Atendimento [Orientações]";
}
<div class="row">
    <div class="col-12">
        <h1>Atendimento - Orientações</h1>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <img src="~/imgs/clienteAtendimento.png" class="img-fluid shadow-sm rounded-1" alt="Imagem de Atendimento"/>
    </div>
    <div class="col-8">
        @await Html.PartialAsync("_DadosClientePartial", Model.Cliente)
        <div class="row pt-2">
            <div class="col-12">
                <div class="alert alert-warning">
                    Vamos ajudar para que seu atendimento seja excelente, primeiramente iremos solicitar a permissão de acesso de seus dispositivos de câmera e microfone. Um requisito importante para o atentimento por videochamada!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a asp-action="VerificarDispositivo" asp-controller="Atendimento" class="btn btn-info">Avançar</a>
            </div>
        </div>
    </div>
</div>
