@model ClienteModel
@{
    ViewBag.Title = "Atendimento [Orientações]";
}
<div class="row">
    <div class="col-12">
        <h1>Atendimento - Orientações</h1>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 d-none d-xl-block">
        <img src="~/imgs/orientacaoCliente.png" class="img-fluid" alt="Imagem de Orientação do Cliente"/>
    </div>
    <div class="col-12 col-xl-8">
        @await Html.PartialAsync("_DadosClientePartial", Model)
        <div class="row pt-2">
            <div class="col-12">
                <div class="alert alert-warning">
                    Vamos ajudar para que seu atendimento seja excelente, primeiramente iremos solicitar a permissão de acesso de seus dispositivos de câmera e microfone. Um requisito importante para o atentimento por videochamada!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a asp-action="VerificarDispositivo" asp-controller="Atendimento" class="btn btn-success">Continuar</a>
                <a asp-action="Index" asp-controller="Home" class="btn btn-light">Retornar</a>
            </div>
        </div>
    </div>
</div>
