@model List<AtendimentoModel>
<div class="row mt-2">
    <div class="col-12">
    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-info">Nenhum atendimento <strong>realizado</strong> encontrado.</div>
    }
    @foreach (var item in Model)
    {
        @item.DataRegistro.ToString("g")
    }
    </div>    
</div>
