@using VideoChatApp.FrontEnd.Services.Enums
@model ClienteModel
@if (Model == null)
{
    <div class="alert alert-danger">Não identificamos informações do Cliente.</div>    
}
else
{
    <div class="card mt-2 mt-xl-0">
        <div class="area-dados-cliente">
            <span class="info-dados-cliente-titulo">Cliente</span>
            <div class="info-dados-cliente mb-2">
                <span class="d-block">@Model.Nome</span>    
                <div class="d-flex align-items-center text-muted" title="Sexo e idade do cliente">
                    <span>&nbsp;Sexo: @Model.Sexo.ObterTextoEnum() | Idade: @Model.Idade</span>
                </div>
                <div class="d-flex align-items-center text-muted" title="E-mail do cliente">
                    <span class="material-symbols-outlined">alternate_email</span>
                    <span class="px-1">&nbsp;@Model.Email</span>
                </div>
                <div class="d-flex align-items-center text-muted" title="Telefone do cliente">
                    <span class="material-symbols-outlined">phone_iphone</span>
                    <span class="px-1">&nbsp;@Model.Telefone</span>
                </div>
            </div>
        </div>
    </div>
}