@model ProfissionalSaudeModel
@if (Model == null)
{
    <div class="alert alert-danger">Não identificamos informações do Profissional de Saúde.</div>    
}
else
{
    <div class="card mt-2 mt-xl-0">
        <div class="area-profissional-saude">
            <span class="info-profissional-saude-titulo">Profissional de Saúde</span>
            <input id="idProfissional" value="@Model.Id" type="hidden"/>
            <span class="d-block">@Model.Nome</span>
            <div class="info-profissional-saude mt-2 mb-2">
                <div class="d-flex align-items-center text-muted" title="Especialidade do profissional">
                    <span class="material-symbols-outlined">stethoscope</span>
                    <span class="px-1">&nbsp;@Model.Especialidade</span>
                </div>
                <div class="d-flex align-items-center text-muted" title="E-mail do profissional">
                    <span class="material-symbols-outlined">alternate_email</span>
                    <span class="px-1">&nbsp;@Model.Email</span>
                </div>
                <div class="d-flex align-items-center text-muted" title="Telefone do profissional">
                    <span class="material-symbols-outlined">phone_iphone</span>
                    <span class="px-1">&nbsp;@Model.Telefone</span>
                </div>
            </div>
        </div>
    </div>
}