@model ProfissionalSaudeModel
@if (Model == null)
{
    <div class="alert alert-danger">Não identificamos informações do Profissional de Saúde.</div>    
}
else
{
    <div class="card mt-2 mt-xl-0">
        <div class="area-profissional-saude">
            <span class="info-profissional-saude-titulo">Profissional de Saúde</span>
            <span class="d-block">@Model.Nome</span>
            <div class="info-profissional-saude mt-2 mb-2">
                <div class="d-flex align-items-center text-muted" title="Especialidade do profissional">
                    <span class="material-icons">assignment_ind</span>
                    <span class="px-1">&nbsp;@Model.Especialidade</span>
                </div>
            </div>
        </div>
    </div>
}