@model ClenteEmAtendimentoModel
@{
    ViewBag.Title = "Atendimento [Em andamento]";
}
<div class="row">
    <div class="col-12">
        <div class="d-none d-sm-block"><h1>Atendimento - Em andamento</h1></div>
        <div class="d-sm-none d-block"><h2>Em Atendimento</h2></div>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 d-none d-xl-block">
        <img src="~/imgs/atendimentoCliente.png" class="img-fluid" alt="Imagem de Em Atendimento"/>
    </div>
    <div class="col-12 col-xl-8">
        <div class="row pt-2">
            <div class="col-12 col-xl-8">
                <div class="area-videochamada">
                    <div class="area-video-profissional">
                        <video id="video-profissional" style="display: none;"></video>
                    </div>
                    <div class="area-video-cliente">
                        <video id="video-cliente"></video>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                @await Html.PartialAsync("_ClienteAtendimentoPartial", Model.Cliente)
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-12 d-grid gap-2 d-md-block text-center">
                <button type="button" class="btn btn-danger" title="Solicitar finalização do atendimento." data-bs-toggle="modal" data-bs-target="#modalSairAtendimento">Finalizar Atendimento</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSairAtendimento" tabindex="-1" aria-labelledby="modalSairAtendimentoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSairAtendimentoLabel">Confirma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <h4>Deseja realmente <strong>finalizarr</strong> o atendimento em andamento?</h4>
            </div>
            <div class="modal-footer">
                <a asp-action="FinalizarAtendimento" asp-controller="EquipeSaude" class="btn btn-danger">Sim, quero sair</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não quero</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/cliente-em-atendimento.js" asp-append-version="true"></script>
}