@model UsuarioEmAtendimentoModel
@{
    ViewBag.Title = "Atendimento [Em andamento]";
}
<div class="row">
    <div class="col-7">
        <div class="d-none d-sm-block"><h1>Atendimento</h1></div>
        <div class="d-sm-none d-block"><h2>Atendimento</h2></div>
    </div>
    <div class="col-5 text-end pt-xl-2">
        <button type="button" class="btn btn-sm btn-danger" title="Solicitar saida do atendimento." data-bs-toggle="modal" data-bs-target="#modalSairAtendimento">Sair <span class="d-none d-xl-inline-block">do Atendimento</span></button>
        <button type="button" class="d-inline-block d-xl-none btn btn-sm btn-primary button-posicao-chat">Chat <span class="d-none d-xl-inline-block">Atendimento</span></button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="atendimento-separador"></div>
    </div>
</div>
<div class="row">
    <div class="col-xl-2 d-none d-xl-block">
        <img src="~/imgs/atendimentoCliente.png" class="img-fluid" alt="Imagem de Em Atendimento"/>
        <input type="hidden" id="idAtendimento" value="@Model.IdAtendimento"/>
        <input id="idUsuario" value="@Model.ProfissionalSaude.Id" type="hidden"/>
        <div class="profissional">
            @await Html.PartialAsync("_ProfissionalAtendimentoPartial", Model.ProfissionalSaude)    
        </div>
        <div class="list-group" style="font-size: 12px;">
            <a class="list-group-item list-group-item-action" title="Detalhes das informações do cliente em atendimento."
               data-bs-toggle="offcanvas" href="#offcanvasInfoCliente">Informações do Cliente</a>
            <a class="list-group-item list-group-item-action" title="Arquivos enviados e recebidos no atendimento do cliente." 
               data-bs-toggle="offcanvas" href="#offcanvasArquivosAtendimento">Arquivos Atendimento</a>
            <a class="list-group-item list-group-item-action" title="Histórico de saúde do cliente em atendimento" 
               data-bs-toggle="modal" href="#modalHistoricoSaudeCliente">Histórico de Saúde</a>
        </div>
    </div>
    <div class="col-12 col-xl-10">
        <div class="row pt-2">
            <div class="col-12 col-xl-8">
                <div class="area-videochamada">
                    <div class="area-video-container">
                        <div class="area-video-remoto">
                            <div class="d-flex flex-column justify-content-center align-items-center video-remoto video-remoto-aguardando">
                                <span>Aguarde, estamos te conectando com o cliente!</span>
                                <div class="mt-3 spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <video class="video-remoto" id="video-remoto" autoplay playsinline></video>    
                        </div>
                        <div class="area-video-local">
                            <div class="d-flex flex-column justify-content-center align-items-center video-local video-local-aguardando">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <video class="video-local" id="video-local" autoplay playsinline muted></video>
                        </div>
                        <div class="video-controls">
                            <button type="button" class="control-button on" id="mute-button" title="Controle do mute do microfone.">
                                <span class="material-icons">mic</span>
                            </button>
                            <button type="button" class="control-button on" id="camera-button" title="Controle da câmera.">
                                <span class="material-icons">videocam</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mensagem-usuario mt-2 text-truncate">Você está iniciando uma videochamada com um cliente.</div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="row">
                    <div class="col-12">
                        @await Html.PartialAsync("_ClienteAtendimentoPartial", Model.Cliente)                        
                    </div>
                    <div class="col-12">
                        @await Html.PartialAsync("_ChatAtendimentoPartial", Model.ChatAtendimento)
                    </div>
                    <div class="col-12 mt-2 d-inline-block d-xl-none text-end">
                        <button type="button" class="btn btn-sm btn-primary button-posicao-video">
                            <span class="material-icons">arrow_upward</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSairAtendimento" tabindex="-1" aria-labelledby="modalSairAtendimentoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSairAtendimentoLabel">Confirma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <h4>Deseja realmente <strong>sair</strong> do atendimento em andamento?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger button-finalizar-atendimento">Sim, quero sair</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não quero</button>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasInfoCliente" aria-labelledby="offcanvasInfoClienteLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasInfoClienteLabel">Detalhes do Cliente</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        Dados do Cliente...
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasArquivosAtendimento" aria-labelledby="offcanvasArquivosAtendimentoLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasArquivosAtendimentoLabel">Arquivos do Atendimento</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="lista-arquivos-atendimento">
            @await Html.PartialAsync("_ArquivosAtendimentoPartial", Model.ArquivosAtendimento, new ViewDataDictionary(ViewData) { {"IdUsuario", Model.ProfissionalSaude.Id }, {"IdAtendimento", Model.IdAtendimento}})
        </div>
        <div>
            <div class="vstack gap-2 mx-auto">
                <button type="button" class="btn btn-sm btn-secondary button-init-enviar-arquivo">Enviar Arquivo</button>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_EnviarArquivoAtendimentoPartial")
<div class="modal fade" id="modalHistoricoSaudeCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalHistoricoSaudeClienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalHistoricoSaudeClienteLabel">Histórico de Saúde do Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Histórico de Saude do Cliente...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/comunicacao-usuarios.js" asp-append-version="true"></script>
    <script src="~/js/comunicacao-chat-atendimento.js" asp-append-version="true"></script>
    <script src="~/js/comunicacao-arquivos-atendimento.js" asp-append-version="true"></script>
    <script src="~/js/profissional-em-atendimento.js" asp-append-version="true"></script>
}