@model ChatAtendimentoModel
<div class="card">
    <div class="card-header d-none d-xl-block"><strong>Chat do Atendimento</strong> <span class="badge rounded-pill bg-primary">@Model.QtdMensagens</span>
    </div>
    <div class="card-body">
        ... Chat
    </div>
</div>