@using VideoChatApp.FrontEnd.Services.Enums
@model ChatAtendimentoModel
<div class="card mt-2">
    <div class="card-header">
        <span class="chat-titulo">Chat do Atendimento</span>
    </div>
    <div id="chat-box" class="chat-container">
        @if (Model == null || Model.QtdMensagens == 0)
        {
            <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
                <span class="material-symbols-outlined fs-1 text-muted">mode_comment</span>
                <span class="text-center text-muted mt-2" style='font-size:10px;'>Você não tem mensagens no Chat. Para iniciar basta escrever algo e pressione ENTER ;)</span>
            </div>
        }
        else
        {
            UsuarioOrigemMensagemEnum? origemAtual = null;
            var hasExibirAvatar = false;
            foreach (var mensagem in Model.Mensagens)
            {
                hasExibirAvatar = false;
                if (origemAtual == null || origemAtual != mensagem.UsuarioUsuarioOrigem)
                {
                    hasExibirAvatar = true;
                    origemAtual = mensagem.UsuarioUsuarioOrigem;
                }
                if (origemAtual == UsuarioOrigemMensagemEnum.Cliente)
                {
                    <div class="message">
                        @if (hasExibirAvatar) {
                            <img class="img-chat img-chat-sender" src="~/imgs/chat-sender.png" alt="Enviado">
                        } else {
                            <div class="img-chat img-chat-sender"></div>
                        }
                        <div class="message-content message-content-sender">@mensagem.Texto</div>
                    </div>
                } else if (origemAtual == UsuarioOrigemMensagemEnum.ProfissionalSaude)
                {
                    <div class="message">
                        <div class="message-content message-content-receiver">@mensagem.Texto</div>
                        @if (hasExibirAvatar) {
                            <img class="img-chat img-chat-receiver" src="~/imgs/chat-receiver.png" alt="Receiver">
                        } else {
                            <div class="img-chat img-chat-receiver"></div>
                        }
                    </div>
                }
            }
        }
    </div>
    <div class="input-container">
        <input class="input-mensagem-chat" type="text" placeholder="Digite sua mensagem">
        <button type="button" class="button-enviar-mensagem-chat" title="Envia mensagem digitada ao lado.">Enviar</button>
    </div>
</div>