@model ClienteModel
<div class="row">
    <div class="col-12">
        <h4>Cliente</h4>
    </div>
    <div class="col-12 col-sm-8">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text d-none d-sm-block" id="nome">Nome: </span>
          <input type="text" class="form-control" readonly="readonly" aria-label="Nome" aria-describedby="nome" value="@Model.Nome">
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text d-none d-sm-block" id="telefone">Telefone: </span>
          <input type="text" class="form-control" readonly="readonly" aria-label="Telefone" aria-describedby="telefone" value="@Model.Telefone">
        </div>
    </div>
    <div class="col-12">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text d-none d-sm-block" id="email">E-mail: </span>
          <input type="text" class="form-control" readonly="readonly" aria-label="Email" aria-describedby="email" value="@Model.Email">
        </div>
    </div>
</div>    