@using VideoChatApp.FrontEnd.Controllers
@{
    var mensagensErros = TempData[GenericController.KeyMensagemErros] as string[];
    var mensagemAlerta = TempData[GenericController.KeyMensagemAlerta] as string;
}
<div asp-validation-summary="All" class="alert alert-danger mensagem-erros"></div>
@if (mensagensErros!=null && mensagensErros.Length!=0) {
    <div class="alert alert-danger mensagem-erros">
        <ul>
            @foreach (var item in mensagensErros)
            {
                <li>@item</li>
            }
        </ul>
    </div>
}
@if (!string.IsNullOrEmpty(mensagemAlerta))
{
    <div class="alert alert-info">@mensagemAlerta</div>
}