<div class="modal fade" id="modalRedirect" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalRedirectLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex align-items-center">
                  <strong>Estamos te encaminhando para o atendimento...</strong>
                  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>